/* Created by http://freehtml5templates.com */
/* reset */
* {
    margin: 0;
    padding: 0;
}

/* render html5 elements as block */
header, footer, section, aside, nav, article {
    display: block;
}

body {
    height: 100%;
    min-height: 100vh;
    line-height: 1;
    background-color: #73AFC1;
    background: -webkit-linear-gradient(#C8DCE6, #73AFC1);
    background: -moz-linear-gradient(#C8DCE6, #73AFC1);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 14px;
    line-height: 18px;
}

/* layout */

#container {
    float: left;
    margin: 0 -240px 0 0;
    width: 940px;
}

#content {
    margin: 0 280px 0 20px;
}

#sidebar {
    float: right;
    overflow: hidden;
    width: 210px;
    margin-top: 20px;
}

#main, #wrapper, #wrapper-header {
    margin: 0 auto;
    width: 940px;
}

nav {
    width: 940px;
    height: 50px;
    margin: 0 auto;
    background: #92CBE1;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

#wrapper {
    background: #FFFFFF;
    padding: 0 20px;
    -webkit-box-shadow: 3px 3px 7px #777;
    -moz-box-shadow: 3px 3px 7px #777;
}

.footer-segment {
    float: left;
    margin-right: 20px;
    width: 210px;
}

#fourth {
    margin-right: 0;
}

#fourth p {
    padding-right: 5px;
}

/* basics */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    clear: both;
    color: #496998;
}

a {
    color: #3B944A;
}

a:hover {
    color: #496998;
}

hr {
    background-color: #E7E7E7;
    border: 0;
    height: 1px;
    margin-bottom: 18px;
    clear: both;
}

p {
    margin-bottom: 18px;
}

li {
    padding-left: 0px;
}

/* header */

header {
    margin-top: 5px;
    padding: 30px 0 0 0;
}

header p {
    clear: both;
    border-top: 2px solid #496998;
    display: block;
}

header > h1 {
    float: left;
    margin: 0 0 10px 0;
    width: 700px;
    font-size: 30px;
    line-height: 30px;
}

header > h4 {
    float: left;
    margin: 0 0 18px 0;
    width: 700px;
    font-size: 20px;
    line-height: 10px;
}

header > h1 a {
    color: #496998;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 2px 3px #ddd;
}

header > h2 {
    color: #777;
    clear: right;
    float: right;
    font-style: italic;
    margin: 14px 0 18px 0;
    width: 220px;
    text-shadow: 0px 2px 3px #ddd;
}

/* nav */

nav .menu {
    font-size: 16px;
    font-weight: bold;
}

nav .menu ul {
    margin: 0;
    padding: 17px 0 0 20px;
    list-style: none;
    line-height: normal;
}

nav .menu li {
    display: block;
    float: left;
}

nav .menu a {
    display: block;
    float: left;
    margin-right: 5px;
    padding: 0px 15px;
    text-decoration: none;
    color: #496998;
}

nav .menu a:hover {
    text-decoration: underline;
}

/* main content */

#main {
    overflow: hidden;
    padding: 15px 0 0 0;
}

#content {
    width: 670px;
    margin-bottom: 36px;
    color: #444;
    font-size: 16px;
    line-height: 24px;
    border-right: 1px #ddd solid;
    padding-right: 10px;
}

article {
    padding: 10px;
}

article img {
    border: none;
}

#content p,
#content ul,
#content ol,
#content hr {
    margin-bottom: 14px;
}

#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
    margin-bottom: 0;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
    color: #496998;
    margin: 0 0 20px 0;
    line-height: 1.5em;
    text-shadow: 0px 2px 3px #ddd;
}

.alignleft,
img.alignleft {
    display: inline;
    float: left;
    margin-right: 24px;
    margin-top: 4px;
}

.alignright,
img.alignright {
    display: inline;
    float: right;
    margin-left: 24px;
    margin-top: 4px;
}

.aligncenter,
img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.alignleft, img.alignright, img.aligncenter {
    margin-bottom: 12px;
}

/* sidebar and footer widget blocks */

aside h3 {
    font-size: 18px;
    line-height: 1.5em;
    text-shadow: 0px 2px 3px #ddd;
}

aside ul {
    list-style: square inside;
    margin-bottom: 20px;
}

aside img {
    border: none;
}

footer {
    margin-bottom: 20px;
    clear: both;
}

#footer-area {
    border-top: 4px solid #ddd;
    margin-top: -4px;
    padding: 18px 0;
    overflow: hidden;
}

nav .visited {
    background-color: #ff0000;
}

nav .bar {
    background-color: #ffff00;
}